@charset "utf-8"

.sidebar
  margin: 0 auto
  padding: 0
  background: #e7e7e7
  

fieldset.sidebar__blog-article,
fieldset.sidebar__tag,
fieldset.sidebar__year
  ul
    padding: 0
    margin: 0
    li
      list-style-type: none



.blog-article__title,
.tag__title,
.yunico__title,
  font-size: 18px
  margin: 0
  padding: 0

.blog-article__sub,
.tag__sub,
.year__sub,
  color: #929292
  font-size: 12px
