@charset "utf-8"

.sidebar
  margin: 0 auto
  padding: 20px 0
  

fieldset.sidebar__blog-article,
fieldset.sidebar__tag,
fieldset.sidebar__year
  ul
    padding: 0
    margin: 0
    li
      list-style-type: none