@charset "utf-8"

$small: "only screen and (max-width: 640px)"

body
  position: relative
  color: #5f5f5f
  font-family: 'Lucida Grande', Arial, 'Hiragino Kaku Gothic Pro', Meiryo, 'メイリオ', sans-serif
  font-size: 14px
  line-height: 1.5
  margin: 1em 0
  @media #{$small}
    margin: 0
  a
    text-decoration: none

#layout
  position: relative

.header-contents
  margin: 20px auto
  text-align: center
  padding: 10px 20px
  @media #{$small}
    margin: 10px auto 0
    padding: 0

.header-contents__site-title
  font-weight: bold
  font-size: 300%
  font-family: 'Lily Script One', cursive
  margin: 0
  @media #{$small}
    font-size: 180%
    padding: 0

.header-contents__site-description
  padding: 10px 0 0
  @media #{$small}
    padding: 10px 0 20px
    font-size: 12px

.container
  margin: 0 auto
  border-radius: 5px
  padding: 0 20px