@charset "utf-8"

$small: "only screen and (max-width:940px)"

body
  position: relative
  color: #333333
  font-family: 'Lucida Grande', Arial, 'Hiragino Kaku Gothic Pro', Meiryo, 'メイリオ', sans-serif
  font-size: 15px
  line-height: 1.7

a
  text-decoration: none
  color: #3D82C6

#layout
  position: relative
  padding: 0 20px
  @media #{$small}
    padding: 0 10px

.header-contents
  margin: 0 auto
  text-align: center
  padding: 10px 0

.header-contents__site-title
  font-weight: bold
  font-size: 45px

.container
  margin: 0 auto
  background: #f4f4f4
  border-radius: 5px
  padding: 10px
  p
    margin: 0 0 8px
    line-height: 1.3
  h2
    font-size: 20px
    font-weight: bold
    margin: 20px 0 10px
    span
      margin: 0 0 0 15px

